recursive-exclude docs *.bat
recursive-exclude docs *.pdf
recursive-exclude docs *.png
recursive-exclude docs *.py
recursive-exclude docs *.rst
recursive-exclude docs Makefile
recursive-include src *.json
recursive-include examples *.csv
recursive-include examples *.py
recursive-include examples *.zip
exclude .readthedocs.yaml
