recursive-include doc *.bat
recursive-include doc *.pdf
recursive-include doc *.png
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc Makefile
recursive-include src *.json
recursive-include examples *.csv
recursive-include examples *.py
