recursive-include docs *.bat
recursive-include docs *.pdf
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include src *.json
recursive-include examples *.csv
recursive-include examples *.py
recursive-include examples *.zip
include .readthedocs.yaml
